.container {
  position: fixed;
  width: 1400px;
  height: 650px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: fixed;
  width: 300px;
  height: 300px;
  background: rgb(243, 242, 238);
  margin: 20px;
  border-radius: 10px;
}

.container .content h2 {
  position: relative;
  color: black;
  font-size: 1.5em;
  padding: 30px;
}

.container .content button {
  position: relative;
  align-items: center;
}

body {
  background-color: rgb(243, 243, 106);
  height: 800px;
}
